<script data-parsed-article type="text/json" charset="utf-8"><%= @json.to_json.html_safe %>
</script>
<div id="content">
  <script id="text-template" type="text/x-handlebars-template">
    {{#each words}}
      {{#showSourceLanguage level}}
        {{{source}}}
      {{else}}
        <b class="foreign">{{{target}}}</b>
      {{/showSourceLanguage}}
    {{/each}}
  </script>
</div>


<div id="preferences">
  <div class="help">?</div>
  <div id="options">
    <select name="Language" id="language">
      <option class="choice" value="en" <%= "selected" if @language == "en" %>>English</option>
      <option class="choice" value="es" <%= "selected" if @language == "es" %>>Espanol</option>
      <option class="choice" value="fr" <%= "selected" if @language == "fr" %>>Francais</option>
      <option class="choice" value="de" <%= "selected" if @language == "de" %>>Deutsch</option>
      <option class="choice" value="it" <%= "selected" if @language == "it" %>>Italiano</option>
    </select>
  </div>
  <input id="slider" data-source="<%= @language %>" type="range" name="points" min="1" max="30" step="1" value="1">
  <div id="how_to">Choose the language you would like to translate into, and move the slider to set proficiency</div>

</div>

<h1 id="article_title"><%= @article.title %> </h1>
<div id="article" data-source="<%= @article.source_language %>"></div>

<script>
  var $options = $('.help, #options, #slider, #language');

  $('#options').delay(5000).queue(function() {
    if ($('#preferences:hover').length == 0) {
      $options.fadeTo(1000, 0.0);
    }
  });

  $('#preferences').on('mouseenter', function() {
    $options.fadeTo(300, 1.0);
  }).on('mouseleave', function() {
    $('#options').delay(5000).queue( $options.fadeTo(2000, 0.0) );
  });

  $('.help').on('mouseenter', function() {
    $('#how_to').fadeToggle();
  }).on('mouseleave', function() {
    $('#how_to').fadeToggle();   
  });

  $(window).scroll(function() {
    var topHeight = $(window).scrollTop() - 150 
    if (topHeight > 0 ) { $('#preferences').css('top', $(window).scrollTop()-150) }
  });
</script>
