<div class="date"><%= Time.now.strftime("%B %d, %Y") %></div>
<div class="articles">
  <% @articles.each_with_index do |article, index| %>
    <% case index%8 %>
    <% when 0 %>
      <div id="<%= article.id %>" class="article poster">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>
    <% when 1,2 %>
      <div id="<%= article.id %>" class="article square">
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>
    <% when 3,6 %>
      <div id="<%= article.id %>" class="article square" style="clear:left;">
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>
    <% when 5 %> 
      <div id="<%= article.id %>" class="article vert-rectangle">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>
    <% when 4,7 %>
      <div id="<%= article.id %>" class="article horiz-rectangle">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>
    <% end %>
  <% end %>
</div>


<script>
    var showArticle = function(article, classes) {
      console.log(classes)
      articlePosition = article.position()
      article.after('<div class="' + classes + ' token" style="opacity: 0"></div>')
      article.css({
        'position': 'absolute',
        'top': articlePosition.top,
        'left': articlePosition.left
      });
      article.animate({
        top: 0,
        left: 0,
        width: '100%',
        height: 'auto'
      }, function() {
        article.removeClass("poster square vert-rectangle horiz-rectangle")
        console.log(article.attr('class'))
      });
    };

    $('.article').on('click', function() {
      var $this = $(this);
      var clickedId = $this.attr('id');
      var totalTime = ( $('.article').length * 50 )
      var articleClasses = $this.attr('class')
      $this.addClass('active-article');
      $('.article').each(function(i,obj) {
         if ( $(obj).attr('id') != clickedId ) {
           $(obj).fadeTo(totalTime - i * 50, 0.0);
         }
      });
      $this.delay(totalTime).queue( showArticle($this, articleClasses) )
    });
</script>
