<div class="date">
  <%= Time.now.strftime("%B %d, %Y") %>
  <div class="show-all-articles"> Back to Articles</div>
</div>
<div class="articles-wrapper">
  <% @articles.each_with_index do |article, index| %>
    <% case index%8 %>
    <% when 0 %>

      <div id="<%= article.id %>" class="article-tile poster">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>

    <% when 1,2 %>

      <div id="<%= article.id %>" class="article-tile square">
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>

    <% when 3,6 %>

      <div id="<%= article.id %>" class="article-tile square" style="clear:left;">
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>

    <% when 5 %>

      <div id="<%= article.id %>" class="article-tile vert-rectangle">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>

    <% when 4,7 %>

      <div id="<%= article.id %>" class="article-tile horiz-rectangle">
        <%= image_tag article.image, :width => "100px" %>
        <%= article.title %><br>
        <%= link_to article.url, article.url %>
      </div>

    <% end %>
  <% end %>
</div>


<script>

</script>
