<div class="date">
  <%= Time.now.strftime("%B %d, %Y") %>
  <div class="show-all-articles"> Back to Articles</div>
</div>
<div class="articles-wrapper">
  <% @articles.each_with_index do |article, index| %>
    <% case index%8 %>
    <% when 0 %>

      <div id="<%= article.id %>" class="article-tile poster">
        <%= image_tag article.image, :width => "100px", :class => "display-image" %>
        <span class="title-poster"><%= article.title %></span><br>
        <div class="summary-poster"><%= raw(article.summary) %></div>
      </div>

    <% when 1,2 %>

      <div id="<%= article.id %>" class="article-tile square">
        <span class="title-square"><%= article.title %></span><br>
        <div class="summary-square"><%= raw(article.summary) %></div>
      </div>

    <% when 3,6 %>

      <div id="<%= article.id %>" class="article-tile square" style="clear:left;">
        <span class="title-poster"><%= article.title %></span><br>
        <div class="summary-poster"><%= raw(article.summary) %></div>
      </div>

    <% when 5 %>

      <div id="<%= article.id %>" class="article-tile vert-rectangle">
        <%= image_tag article.image, :width => "100px", :class => "display-image" %>
        <span class="title-vert-rectangle"><%= article.title %></span><br>
        <div class="summary-vert-rectangle"><%= raw(article.summary) %></div>
      </div>

    <% when 4,7 %>

      <div id="<%= article.id %>" class="article-tile horiz-rectangle">
        <%= image_tag article.image, :width => "100px", :class => "display-image" %>
        <span class="title-horiz-rectangle"><%= article.title %></span><br>
        <div class="summary-horiz-rectangle"><%= raw(article.summary) %></div>
      </div>

    <% end %>
  <% end %>
</div>


<script>

</script>
