<!DOCTYPE html>
<html>
<head>
  <title>Pilgrim</title>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<nav>
	<body id="landing">
		<%= link_to "Pilgrim", root_path, :class => "nav-logo" %>
	<div class="nav-links">
	  <%= link_to "About Pilgrim", articles_path %>
	  <%= link_to "Sign Up", "/auth/google_oauth2", :class => "nudge" %>
	  <%= link_to "Sign In", "/auth/google_oauth2", :class => "nudge" %>
	</div>
</nav>
<%= yield %>

<footer>
	Pilgrim © was created by Tyler Shipe, Ryan Leahy, and Ben Yorke 
</footer>
</body>
</html>
